@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.main-container {
  display: flex;
}

.sidebar {
  width: 25%;
  background: black;
  min-height: 100vh;
  text-align: left;
  padding: 10px 20px;
}

.sidebar h1 {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  display: inline-block;
}

.sidebar p {
  color: white;
  font-weight: 200;
  margin-top: 20px;
  font-size: 20px;
}

.talent-container {
  padding: 10px 30px;
  width: 75%;
}

.talent-container h2 {
  text-transform: uppercase;
  text-align: right;
  width: 100%;

}


.error {
  margin-top: 20px;
  color: red;
}

.talent-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.talent-card {
background: #eee;
border-radius: 5px;
padding: 10px;
margin: 15px;
text-align: center;
display: flex;
flex-direction: column;
place-items: center;
justify-content: center;
-moz-box-shadow:    3px 3px 2px 2px #ccc;
  -webkit-box-shadow: 3px 3px 2px 2px #ccc;
  box-shadow:         3px 3px 2px 2px #ccc;
}

.talent-card img {
  border-radius: 50px;
  border: 2px solid black;
  margin: 5px;
}

.talent-card h3 {
  font-weight: 500;
}

.talent-card p {
  font-weight: 300;
}